.vector1{

width: 1005px;
height: 807px;
left: 485px;
top: 118px;

background: linear-gradient(227.99deg, #572D16 31.97%, #AD5C2D 100.03%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vector2{

width: 947px;
height: 757px;
left: 897px;
top: 118px;

background: linear-gradient(136.44deg, #4D2C20 37.44%, #814B35 97.5%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: matrix(-1, 0, 0, 1, 0, 0);

}